/.vs/*
/.vscode/*

/back-end/bin/*
/back-end/obj/*
/back-end/.vs/*
/back-end/.vscode/*

/front-end/.expo/*
/front-end/node_modules/**/*
/front-end/npm-debug.*
/front-end/.eslintcache
/front-end/*.jks
/front-end/*.p8
/front-end/*.p12
/front-end/*.key
/front-end/*.mobileprovision
/front-end/*.orig.*
/front-end/package-lock.json
